@page "/about"

<PageTitle>About</PageTitle>

<h1>Remote Redux Dev Tools</h1>

<p>Use the Redux Dev Tools from any .NET application (Console, WinUI, MAUI, etc.) on any device with an internet connection.</p>

<p>This tool is based on the work of <a href="https://github.com/mrpmorris">Peter Morris</a> in the <a href="https://github.com/mrpmorris/Fluxor">Fluxor</a> library.</p>

<p>The full source code is available on GitHub: <a href="https://github.com/berhir/RemoteReduxDevTools">https://github.com/berhir/RemoteReduxDevTools</a>.</p>